.App {
  margin-top: 15px;
}

.App .navbar {
  background: hsl(267, 79%, 30%);
}

.App .navbar-brand {
  font-weight: bold;
  color: white;
}


.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover  {
  color: white;
}


