.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(0, 0%, 97%);
  width: 100vw;
  height: 100vh;
}

.App nav.navbar.navbar-default {
  background: black;
  width: 70vw;
  margin: 0;
  height: 5vh;
  border: 1px solid black;
  border-radius: 0;
}

.App .navbar-brand {
  font-weight: bold;
  color: white;
}

.App .navbar-brand:hover {
  color: white;
}

.App .navbar-brand:active {
  color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover  {
  color: white;
}



